.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messageContainer {
  display: flex;
  height: 25px;
  justify-content: center;
  color: #000;
}

.buttonContainer {
  display: flex;
  height: 50px;
  justify-content: center;
}

.listContainer {
  display: flex;
  justify-content: center;
}

.enterItemContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
